In [5]:
people = {
    "first" : ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"],
    "email" : ["coreyschafer@gmail.com", "janedoe@gmail.com", "johndoe@gmail.com"]
}

In [9]:
people['email']

['coreyschafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com']

In [3]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [10]:
df['email']

0    coreyschafer@gmail.com
1         janedoe@gmail.com
2         johndoe@gmail.com
Name: email, dtype: object

In [11]:
type(df['email'])

pandas.core.series.Series

In [12]:
df.email

0    coreyschafer@gmail.com
1         janedoe@gmail.com
2         johndoe@gmail.com
Name: email, dtype: object

In [13]:
df[['last', 'email']]

      last                   email
0  Schafer  coreyschafer@gmail.com
1      Doe       janedoe@gmail.com
2      Doe       johndoe@gmail.com

In [14]:
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[0]

first                     Corey
last                    Schafer
email    coreyschafer@gmail.com
Name: 0, dtype: object

In [17]:
df.iloc[[0,1]]

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com

In [18]:
df.iloc[[0,1],[2]]

                    email
0  coreyschafer@gmail.com
1       janedoe@gmail.com

In [19]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [20]:
df.loc[0]

first                     Corey
last                    Schafer
email    coreyschafer@gmail.com
Name: 0, dtype: object

In [21]:
df.loc[[0,1],['email','last']]

                    email     last
0  coreyschafer@gmail.com  Schafer
1       janedoe@gmail.com      Doe

In [22]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [23]:
df['email']

0    coreyschafer@gmail.com
1         janedoe@gmail.com
2         johndoe@gmail.com
Name: email, dtype: object

In [24]:
df.set_index('email')

                        first     last
email
coreyschafer@gmail.com  Corey  Schafer
janedoe@gmail.com        Jane      Doe
johndoe@gmail.com        John      Doe

In [25]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [26]:
df.set_index('email', inplace = True)

In [27]:
df

                        first     last
email
coreyschafer@gmail.com  Corey  Schafer
janedoe@gmail.com        Jane      Doe
johndoe@gmail.com        John      Doe

In [28]:
df.index

Index(['coreyschafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com'], dtype='object', name='email')

In [29]:
df.loc['coreyschafer@gmail.com']

first      Corey
last     Schafer
Name: coreyschafer@gmail.com, dtype: object

In [32]:
df.loc['coreyschafer@gmail.com', 'last']

'Schafer'

In [33]:
df.reset_index(inplace=True)

In [34]:
df

                    email  first     last
0  coreyschafer@gmail.com  Corey  Schafer
1       janedoe@gmail.com   Jane      Doe
2       johndoe@gmail.com   John      Doe