In [8]:
#Pandas is used for data manipulation
import pandas as pd

#Read in data and display first 5 rows
features = pd.read_csv("C:\\Users\\Phani\\Desktop\\Phani - New\\Kaggle Data Sets\\temps.csv")
features.head(5)

   year  month  day  week  temp_2  temp_1  average  actual  friend
0  2016      1    1   Fri      45      45     45.6      45      29
1  2016      1    2   Sat      44      45     45.7      44      61
2  2016      1    3   Sun      45      44     45.8      41      56
3  2016      1    4   Mon      44      41     45.9      40      53
4  2016      1    5  Tues      41      40     46.0      44      41

In [9]:
print('The shape of our featuer is:', features.shape)

The shape of our featuer is: (348, 9)

In [10]:
#Descriptive statistics for each column
features.describe()

,year,month,day,temp_2,temp_1,average,actual,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,95.000000

In [14]:
#one-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)

#display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,average,actual,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,45.6,45,29,1,0,0,0,0,0,0
1,45.7,44,61,0,0,1,0,0,0,0
2,45.8,41,56,0,0,0,1,0,0,0
3,45.9,40,53,0,1,0,0,0,0,0
4,46.0,44,41,0,0,0,0,0,1,0

In [41]:
#use numpy to convert to arrays
import numpy as np

#Labels are the values we want to predict
labels = np.array(features['actual'])

#remove the labels from the features
#axis 1 refers to the columns 
features = features.drop('actual', axis = 1)

#saving feature names for later use
feature_list = list(features.columns)

#convert to numpy array
features = np.array(features)

KeyError: 'actual'

In [38]:
#using scikit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

#split the data into Training and Testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)

In [32]:
print("Training features shape:", train_features.shape)
print("Training labels shape:", train_labels.shape)
print("Testing features shape:", test_features.shape)
print("Testing labels shape:", test_labels.shape)

Training features shape: (261, 14)
Training labels shape: (261,)
Testing features shape: (87, 14)
Testing labels shape: (87,)

In [44]:
#the baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('average')]

#baseline errors, and display average baseline_error
baseline_errors =  abs(baseline_preds - test_labels)

print("Average baseline error: ", round(np.mean(baseline_errors), 2), "degrees")

NameError: name 'feature_list' is not defined

In [42]:
#import the model we are using
from sklearn.ensemble import RandomForestRegressor

#instatiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

#train the model on training data
rf.fit(train_features, train_labels);

In [43]:
#use the forests predict method on the test data
predictions = rf.predict(test_features)

#calculate the absolute errors
errors = abs(predictions - test_labels)

#printout the mean absolute error (mae)
print('Mean Absolute error:', round(np.mean(errors), 2), "degrees.")

Mean Absolute error: 3.83 degrees.